/**********************************************************************/
/* Fonts                                                              */
/**********************************************************************/

$default-font: serif;
$site-title-font: serif;
$header-font: sans-serif;
$heading-font: serif;
$aside-font: sans-serif;
$code-font: monospace;
$table-header-font: serif;
$table-cell-font: sans-serif;

/**********************************************************************/
/* Header                                                             */
/**********************************************************************/

$body-background: #000;
$header-seam: 5px solid #CC622B;
$avatar-aura-color: #FFA81C;
$header-text-color: #DDD;
$subtitle-font-weight: 300;
$selected-navigation-color: #FFA200;
$header-separator: 2px solid #DDD;
$social-media-icon-color: #AAA;
$hamburger-menu-color: #BBB;

/**********************************************************************/
/* Content Area                                                       */
/**********************************************************************/

$title-color: #E87C0C;
$title-underline-color: #01807B;
$text-color: #000;
$heading-color: #000;
$link-unvisited-color: #33F;
$link-visited-color: #66F;
$table-border-style: 3px solid #BBB;
$table-cell-border-style: 1px solid #BBB;
